@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    font-size: 16px;
}

:root,
html,
body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
}
